.logo {
    background-image: url('../img/3-kontenery.png');
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}