.logo {
    background-image: url('../img/logo-main.png');
    background-repeat: no-repeat center center;
    background-size: 100% 100%;
    background-color: #868e96;
    height: 400px;
    /* position: relative; */
    /* background-size: cover; */
}