<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Wywóz gruzu dopiewo">
    <meta name="author" content="Gruz Master">

    <title>Gruz-Master Wywóz gruzu Dopiewo i okolice</title>

    <!-- Bootstrap core CSS -->
    <link href="css/vendor.min.css" rel="stylesheet">
    <link href="css/bundle.min.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="/img/icon.png">
</head>